@charset "utf-8";

html{
    background:#ffecc8;
}
div.row{
    margin: 150px;
    color: #1d2d5f;
    font-family: 'Gill Sans', sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
}
p#blue{
    border-radius: 30px;
    background-color: #40cee3;
    padding: 30px;
}
p#orange{
    border-radius: 30px;
    background-color: #ffbc47;
    padding: 25px;
}
p#red{
    border-radius: 30px;
    background-color: #f65e5d;
    padding: 25px;
}
div.col-1-3{
    content: "";
}